<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="../css/indexCss.css">
</head>
<body>
    <div class="banner">
        <header class="header">
            <div class="logo-container">
                <img id="ENSAM" src="../images/ensam logo.jpg" alt="ENSAM Rabat Logo">
                <p>ENSAM TIFINAGH</p>
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="Services.jsp">Services</a></li>
                    <li><a href="AboutUs.jsp">About Us</a></li>
                    <li><a href="ContactUs.jsp">Contact Us</a></li>
                </ul>
            </div>
        </header>
        <div class="content">
            <h1>Bienvenue a Tifinagh translation</h1>
            <p>La première platforme de traduction de Tifinagh dans le monde</p>

            <div class="button-container">
                <a href="LoginPage.html"><button type="button" class="btn">Login</button></a>
                <a href="SignUpPage.html"><button type="button" class="btn">Sign up</button></a>
            </div>
        </div>
    </div>
</body>
</html>
