body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, label, input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url('../images/Berber_flag.svg');
    background-size: cover;
    background-position-y: 40%;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgb(255, 255, 255,0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.user {
    font-size: 18px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
}

input[type="text"], input[type="file"], input[type="submit"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"], input[type="file"]{
    background-color: #fff;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
    padding: 13px;
    font-size: 14px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


input[type="submit"]:active {
    background-color: hsl(211, 100%, 45%);
}

.user{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.language-selection {
    margin-bottom: 20px;
    text-align: left;
}

.language-selection label {
    margin-bottom: 10px;
    font-weight: bold;
}

.language-selection select {
    padding: 8px;
    padding-left: 85px;
    padding-right: 90px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
